@media (min-width:320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
}

@media (min-width:481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width: 576px) {
    .content {
        padding-bottom: 2.2875rem !important;
    }
}

@media (min-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width: 768px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width:961px) {}

@media (min-width:1025px) {
    .navbar-vertical.navbar-expand-xl+.content {
        margin-left: 12.825rem !important;
    }

    .navbar-vertical-collapsed .navbar-vertical.navbar-expand-xl+.content {
        margin-left: 2.125rem !important;
    }

    .footer-credits {
        margin-left: 230px !important;
    }

    .tab-page-tab {
        max-height: 465px;
        overflow-y: scroll;
    }

    .list-card {
        min-height: 400px;
        max-height: 400px;
        overflow-y: scroll;
    }

    .list-tab-card{
        min-height: 367px;
        max-height: 367px;
        overflow-y: scroll;
    }

    .max-five-rows {
        max-height: 291px;
        overflow-y: scroll;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1600px !important;
    }

    .max-five-rows {
        max-height: 295px;
        overflow-y: scroll;
    }

    .tab-page-button-table-card{
        min-height: 155px;
        overflow-y: scroll;
    }

    .full-tab-card-body{
        min-height: 376px;
    }
}

@media (min-width:1280px) {
    .container {
        max-width: 1600px !important;
    }

    .footer-credits {
        margin-left: 250px !important;
    }

    .navbar-vertical.navbar-expand-xl+.content {
        margin-left: 13.625rem !important;
    }

    .navbar-vertical-collapsed .navbar-vertical.navbar-expand-xl+.content {
        margin-left: 2.125rem !important;
    }

    .tab-page-tab {
        max-height: 475px;
        overflow-y: scroll;
    }

    .list-card {
        min-height: 320px;
        max-height: 320px;
        overflow-y: scroll;
    }

    .list-tab-card{
        min-height: 367px;
        max-height: 367px;
        overflow-y: scroll;
    }

    .tab-page-table-card {
        max-height: 170px;
        overflow-y: scroll;
    }

    .tab-page-button-table-card {
        max-height: 162px;
        min-height: 162px;
        overflow-y: scroll;
    }

    h5 {
        font-size: 0.9rem !important;
    }
    
    .micro-form label{
        padding-left: 0px !important;
        padding-right: 0px !important;
        font-size: 10px !important;
    }

    .micro-form .form-control, .micro-form input::placeholder, .micro-form .form-select, .micro-form .error-message{
        font-size: 10px !important;
    }

    .max-five-rows {
        max-height: 290px;
        overflow-y: scroll;
    }

    .many-column-table .form-control {
        width: 105px !important;
    }

    .full-tab-card-body{
        min-height: 376px;
    }

    .farmer-card-row1{
        min-height: 301px;
    }

    .farmer-card-row2{
        min-height: 326px;
    }
}

@media (min-width:1400px) {
    .tab-page-tab {
        max-height: 545px;
        overflow-y: scroll;
    }

    .list-card {
        min-height: 390px;
        max-height: 390px;
        overflow-y: scroll;
    }

    .list-tab-card{
        min-height: 433px;
        max-height: 433px;
        overflow-y: scroll;
    }

    .tab-page-table-card {
        max-height: 215px;
        overflow-y: scroll;
    }

    .tab-page-button-table-card {
        min-height: 196px;
        max-height: 196px;
        overflow-y: scroll;
    }

    .max-five-rows {
        max-height: 294px;
        overflow-y: scroll;
    }

    .many-column-table .form-control {
        width: 135px !important;
    }

    .full-tab-card-body{
        min-height: 444px;
    }
}

@media (min-width:1600px) {
    .tab-page-button-table-card {
        min-height: 237px;
        max-height: 237px;
        overflow-y: scroll;
    }

    .full-tab-card-body{
        min-height: 527px;
    }

    .list-card{
        min-height: 475px;
        max-height: 475px;
        overflow-y: scroll;
    }

    .list-tab-card{
        min-height: 515px;
        max-height: 515px;
        overflow-y: scroll;
    }
}

@media (min-width:1680px) {
    .container {
        max-width: 1700px !important;
    }

    .footer-credits {
        margin-left: 460px !important;
    }

    .tab-page-tab {
        max-height: 680px;
        overflow-y: scroll;
    }

    .list-card {
        min-height: 525px;
        max-height: 525px;
        overflow-y: scroll;
    }

    .list-tab-card{
        min-height: 568px;
        max-height: 568px;
        overflow-y: scroll;
    }

    .tab-page-table-card {
        max-height: 340px;
        overflow-y: scroll;
    }

    .tab-page-button-table-card {
        min-height: 262px;
        max-height: 262px;
        overflow-y: scroll;
    }

    .max-five-rows {
        max-height: 295px;
        overflow-y: scroll;
    }

    .many-column-table .form-control {
        width: 160px !important;
    }

    .full-tab-card-body{
        min-height: 578px;
    }
}